{{ define "body" }} {{ with .Param }}
<h2>User Information</h2>
<table class="table">
  <tr>
    <th>ID</th>
    <td>{{ .ID }}</td>
  </tr>
  <tr>
    <th>Email</th>
    <td>{{ .Email }}</td>
  </tr>
  <tr>
    <th>VerifiedEmail</th>
    <td>{{ .VerifiedEmail }}</td>
  </tr>
  <tr>
    <th>Name</th>
    <td>{{ .Name }}</td>
  </tr>
  <tr>
    <th>GivenName</th>
    <td>{{ .GivenName }}</td>
  </tr>
  <tr>
    <th>FamilyName</th>
    <td>{{ .FamilyName }}</td>
  </tr>
  <tr>
    <th>Picture</th>
    <td>{{ .Picture }}</td>
  </tr>
  <tr>
    <th>Locale</th>
    <td>{{ .Locale }}</td>
  </tr>
  <tr>
    <th>HD</th>
    <td>{{ .HD }}</td>
  </tr>
</table>
{{ end }} {{ end }}
