{{ define "body" }} {{ with .Param }}
<h2>User Information</h2>
<table class="table">
  <tr>
    <th>DisplayName</th>
    <td>{{ .DisplayName }}</td>
  </tr>
  <tr>
    <th>JobTitle</th>
    <td>{{ .JobTitle }}</td>
  </tr>
  <tr>
    <th>Mail</th>
    <td>{{ .Mail }}</td>
  </tr>
  <tr>
    <th>MobilePhone</th>
    <td>{{ .MobilePhone }}</td>
  </tr>
  <tr>
    <th>OfficeLocation</th>
    <td>{{ .OfficeLocation }}</td>
  </tr>
  <tr>
    <th>PreferredLanguage</th>
    <td>{{ .PreferredLanguage }}</td>
  </tr>
  <tr>
    <th>Surname</th>
    <td>{{ .Surname }}</td>
  </tr>
  <tr>
    <th>UserPrincipalName</th>
    <td>{{ .UserPrincipalName }}</td>
  </tr>
  <tr>
    <th>ID</th>
    <td>{{ .ID }}</td>
  </tr>
</table>
{{ end }} {{ end }}
