{{ define "body" }}
<form method="post">
  {{ if .Param.Message }}
  <div class="alert alert-danger mt-md-3" role="alert">
    {{ .Param.Message }}
  </div>
  {{ end }}
  <div class="form-group">
    <label for="_u">Username (e-mail address)</label>
    <input type="text" id="_u" class="form-control" name="_u" value="{{ .Param.Username }}" />
  </div>
  <div class="form-group">
    <label for="_p">password</label><br />
    <input type="password" id="_p" class="form-control" name="_p" />
  </div>
  <div class="form-group">
    <label for="_p2">another password</label>
    <input type="password" id="_p2" class="form-control" name="_p2" />
  </div>
  <input type="hidden" name="url" value="{{ .Param.Url }}" />
  <button type="submit" class="btn btn-primary">Login</button>
</form>
{{ end }}
